<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <nav>
          <ul>
            <li id="home"><a href="/">Home</a></li>
            <li id="contact"><a href="#">Contact</a></li>
            <li id="admin"><a href="/login">Admin</a></li>
          </ul>
        </nav>
      </div>

      <div class="edit">
        <div class="edit1">
            <h2>Side 1</h2>
            <form action="edit1 info">
                <input type="file" id="edit1Bilde" name="edit1Bilde">
                <br>
                <br>
                <input type="text" id="edit1_text" name="edit1_text">
                <input type="submit" class="button">
            </form>
        </div>
        <div class="edit2">
            <h2>Side 2</h2>
            <form action="edit2 info">
                <input type="file" id="edit2Bilde" name="edit2Bilde">
                <br>
                <br>
                <input type="text" id="edit2_text" name="edit2_text">
                <input type="submit" class="button">
            </form>
        </div>
        <div class="edit3">
            <h2>Side 3</h2>
            <form action="edit3 info">
                <input type="file" id="edit3Bilde" name="edit3Bilde">
                <br>
                <br>
                <input type="text" id="edit3_text" name="edit3_text">
                <input type="submit" class="button">
            </form>
        </div>
      </div>

</body>
</html>