<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bildeserie med tekst</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"  crossorigin="anonymous" defer ></script>
  <script src="/js/MPage.js" defer ></script>
</head>
<body>

    <div class="navbar">
      <nav>
        <ul>
          <li id="home"><a href="/">Home</a></li>
          <li id="contact"><a href="#">Contact</a></li>
          <li id="admin"><a href="/login">Admin</a></li>
        </ul>
      </nav>
    </div>

  <div class="slideshow-container">
    <div class="slides">
      <div class="slide">
        <img id="myImage" src="/img/bilde1.jpg" alt="Bilde 1">
        <pre class="text" id="fileContent"></pre>
        <div class="værInf">
          <p>Været i <span id="city"></span></p>
          <p>Temperatur: <span id="temperature"></span> °C</p>
          <p>Værforhold: <span id="weatherCondition"></span></p>
        </div>
      </div>
    </div>
    <a class="prev" onclick="changeImageDn()">&#10094;</a>
    <a class="next" onclick="changeImage()">&#10095;</a>
  </div>

  

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</body>
</html>
