<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/loggstyle.css">
    <title>Document</title>
</head>
<body>
    <div>
        <nav>
          <ul>
            <li id="home"><a href="/">Home</a></li>
            <li id="contact"><a href="#">Contact</a></li>
            <li id="admin"><a href="/login">Admin</a></li>
          </ul>
        </nav>
    </div>

    <div class="login-container">
        <h2>Logg inn</h2>
        <form id="loginForm">
          <div class="form-group">
            <label for="username">Brukernavn:</label>
            <input type="text" id="username" name="username" required>
          </div>
          <div class="form-group">
            <label for="password">Passord:</label>
            <input type="password" id="password" name="password" required>
          </div>
          <button type="submit">Logg inn</button>
        </form>
      </div>

</body>
</html>